# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
.pub-cache/
.pub/
pubspec.lock

# IDE
.idea/
*.iml
.vscode/

# Android/iOS build artifacts
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/

# Symbols
app.*.symbols

# Misc
*.log
.DS_Store
